* {
    box-sizing: border-box;
    color: white;
    background-color: rgb(36,42,50);
}

#movieList { 
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    margin: 0 auto;
    padding: 20px;
}

.movie {
    flex: 0 0 calc(16.66667% - 1em);
    margin: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s ease-in-out;
}

.movie:hover {
    transform: scale(1.02);
}

.movie img {  
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.movie-poster {
    max-width: 100%;
}

.no-poster {
    text-align: center;
    font-size: 18px;
    color: grey;
}

h2 {
    color: white;
    margin: 0 auto;
    text-align: center;
    font-size: 4rem;
}


@media only screen and (max-width: 768px) {
    .movie {
        flex: 0 0 calc(33.33333% - 1em);
    }
}

@media only screen and (max-width: 480px) {
    .movie {
        flex: 0 0 calc(50% - 1em);
    }
}
.back-button {
    margin-bottom: 16px;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 50px;
    margin-top: 20px;
}
