*{
    box-sizing: border-box;
    background-color: rgb(36,42,50);
}
h1 {
    text-align: center;
    color: white;
}
.back-button {
    margin-bottom: 16px;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 50px;
    margin-top: 20px;
}
#whitelist {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.poster-container {
    flex: 0 0 calc(16.6667% - 10px); 
    margin: 5px; 
    transition: transform 0.3s ease; 
}

.poster-container img {
    width: 100%;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}


.poster-container:hover {
    transform: scale(1.02);
}
.delete-button {
    display: block;
    margin-top: 8px;
    margin-left: 110px;
    padding: 10px 20px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .delete-button:hover {
    background-color: darkred;
  }
